<h2>Class Lists</h2>

<ul class="breadcrumb">
  <li><a href="/classlist/?{{.Query}}">Subjects</a></li>
  <li><a href="/classlist/{{.Subject}}/?{{.Query}}">{{.Subject}}</a></li>
  <li><a href="/classlist/{{.Subject}}/{{.SubjID}}/?{{.Query}}">{{.Level}}</a></li>
  <li class="active">{{.Class}}</li>
</ul>


<div class="row" style="min-height:700px;">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#info" data-toggle="tab" aria-expanded="true">Pupil Info</a></li>
	  <li class=""><a href="#photos" data-toggle="tab" aria-expanded="false">Photos</a></li>
	  <li class=""><a href="#assessments" data-toggle="tab" aria-expanded="false">Assessment History</a></li>
	</ul>

	<div id="myTabContent" class="tab-content">
	  <div class="tab-pane fade active in" id="info">
		<table class="table table-hover">
		  <thead>
			<th>Name</th>
			<th>Gender</th>
			<th>KS2 Average</th>
			<th>Pupil Premium</th>
			<th>SEN</th>
			<th>Attendance</th>
		  </thead>
		  <tbody>
			{{ $q := .Query }}
			{{ range .Students }}
			<tr>
			  <td><a href="/students/{{.UPN}}/?{{$q}}">{{.Surname}}, {{.Forename}}</a></td>
			  <td>{{.Gender}}</td>
			  <td>{{.KS2.Av}}</td>
			  <td>{{if .PP}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
			  {{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
			  {{end}}</td>
			  <td>{{.SEN.Status}}</td>
			  <td></td>
			</tr>
			{{ end}}
		  </tbody>
		</table>
	  </div>
	  <div class="tab-pane" id="photos">
	  Photos to go here!
	  </div>
	  <div class="tab-pane" id="assessments">
	  Assessment History to go here
	  </div>
	</div>
  </div>
  <div class="col-sm-1"></div>
</div>
