<h2>Class Lists</h2>

<ul class="breadcrumb">
  <li class="active">Subjects</li>
</ul>

<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
				{{ $q := .Query }}
				<ul class="list-group">
						{{ range .Subjects }}
								<a class="list-group-item" href="/classlist/{{.}}/?{{ $q }}">{{.}}</a>
						{{ end }}
				</ul>
		</div>
		<div class="col-sm-3"></div>
</div>
