<div class="container-fluid">
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-8">
        <div id="filter_bar" class="bs-component col-sm-8" style="display: block;">
            {{range .Labels}}
            <span class="label label-default">{{.}}</span>
            {{end}}
        </div>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary btn-xs" onclick="toggle_visibility('filter_bar'); toggle_visibility('filter_form');">
            <span class="glyphicon glyphicon-filter"> Filters</span>
        </button>
    </div>
    <div class="col-sm-2"></div>
</div>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-7">
        <div id="filter_form" style="display: none;">

            <form role="form" class="form-horizontal" style="margin-bottom: 0px">

                <div class="row">
                    <div class="form-group form-group-sm">
                        <label for="f_date" class="control-label col-sm-3">Effective Date</label>
                        <div class="col-sm-9">
                            <select name="date" id="f_date" class="form-control input-sm">
                                {{$d := .Date}}
                                {{range .Dates}}
                                <option value="{{.ID}}"{{if eq .ID $d}} selected="yes"{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -6px;">
                    <div class="form-group form-group-sm">
                        <label for="f_resultset" class="control-label col-sm-3">Resultset</label>
                        <div class="col-sm-9">
                            <select name="resultset" id="f_resultset" class="form-control input-sm">
                                {{$rs := .Resultset}}
                                {{range .Resultsets}}
                                <option value="{{.ID}}"{{if eq .ID $rs}} selected="yes"{{end}}>{{.Name}}</option>
                                {{end}}
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: -6px;">
                    <div class="form-group form-group-sm">
                        <label for="f_exams" class="control-label col-sm-3">Exams</label>
                        <div class="col-sm-9">
                            <select name="exams" id="f_exams" class="form-control input-sm">
                                <option value="First"{{if eq .Exams "First"}} selected="yes"{{end}}>First Entry Only</option>
                                <option value="Best"{{if eq .Exams "Best"}} selected="yes"{{end}}>Best Entry</option>
                                <option value="Ignore"{{if eq .Exams "Ignore"}} selected="yes"{{end}}>Ignore Exams</option>
                            </select>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="margin-top: -6px;">
                    <div class="form-group form-group-sm">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <input type="Submit" class="btn btn-primary btn-sm" value="Apply Filter">
                        </div>
                    </div>
                </div>

            </form>

            <form role="form" class="form-horizontal" style="margin-top: -12px;">
                <div class="row">
                    <div class="form-group form-group-sm">
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <input type="Submit" class="btn btn-sm" value="Reset Filter">
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="col-sm-3"></div>
</div>
</div>
