<h2>KS4 Subject Analysis</h2>

<ul class="breadcrumb">
		<li><a href="/ks4subject/?{{.Query}}">Subjects</a></li>
		<li><a href="/ks4subject/{{.Subject}}/?{{.Query}}">{{.Subject}}</a></li>
		<li class="active">{{.Class}}</li>
</ul>

{{ $q := .Query }}
{{ $subj := .Subject }}
{{ $nat := .Nat }}

<h3>Progress Grid</h3>
<table class="table">
		{{ with .Grid }}
		<thead>
				<th>KS2</th>
				{{ range .Grades }}
				<th style="text-align:center;">{{.}}</th>
				{{ end }}
				<th>&nbsp;</th>
				<th style="text-align:center;">VA</th>
		</thead>
		<tbody>
				{{ range .Rows }}
				<tr>
						<td>{{.KS2}}</td>
						{{ range .Cells }}
						<td class="{{.Style}}" style="text-align:center;">{{if ne .Num 0}}{{.Num}}{{end}}</td>
						{{ end }}
						<td>&nbsp;</td>
						<td style="text-align:center;">{{printf "%.2f" .VA}}</td>
				</tr>
				{{ end }}
		</tbody>
		{{ end }}
</table>
				
<br>

<h4>Overall Value Added: {{printf "%.2f" .VA}}</h4>

<br>

<h4>Students</h4>
<table class="table table-striped table-hover sortable">
		<thead>
				<th>Name</th>
				<th>Class</th>
				<th style="text-align:center;">KS2</th>
				<th style="text-align:center;">Grade</th>
				<th style="text-align:center;">Effort</th>
				<th style="text-align:center;">Value Added</th>
				<th style="text-align:center;">Attendance</th>
		</thead>
		<tbody>
		{{range .Students}}
		<tr>
				<td><a href="/students/{{.UPN}}/?{{$q}}">{{.Name}}</a></td>
				<td>{{.Class}}</td>
				<td style="text-align:center;">{{.KS2}}</td>
				<td style="text-align:center;">{{.Grade}}</td>
				<td style="text-align:center;">{{.Effort}}</td>
				<td style="text-align:center;">{{if .VAExists}}{{printf "%.1f" .VA}}{{end}}</td>
				<td style="text-align:center;">{{printf "%.1f" .Attendance}}</td>
		</tr>
		{{end}}
		</tbody>
</table>
