<div class="container">

    <h2>Student Search Results</h2>

    <p>Searching for: <b>{{.Name}}</b></p>

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
        {{if .Results}}
            {{ $q := .Query }}
            <ul class="list-group">
            {{range .Students}}
            <a class="list-group-item" href="/students/{{.UPN}}/?{{$q}}">{{.Name}}   ({{.Form}})</a>
            {{end}}
            </ul>
        {{else}}
        <p class="text-info">No results found.</p>
        {{end}}
        </div>
        <div class="col-sm-3"></div>
    </div>

    <br>
    <p>If you can't find the student you are looking for, try using
    just their surname or forename.<br>
    If you're unsure of the spelling, a '*' can be used to replace
    one or more characters.</p>

</div>
