{{ $nat := .Nat }}
{{ with .Student }}
<div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-5">
		<h3>{{.Forename}} {{.Surname}}</h3>

		<table class="table table-hover">
			<tbody>
				<tr>
					<td>Form class</td>
					<td>{{.Year}} {{.Form}}</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>{{.Gender}}</td>
				</tr>
				<tr>
					<td>KS2 Average</td>
					<td>{{with .KS2}}{{.Av}}{{end}}</td>
				</tr>
				<tr>
					<td>Pupil Premium</td>
					<td>{{if .PP}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
						{{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
						{{end}}</td>
				</tr>
				<tr>
					<td>SEN</td>
					<td>{{with .SEN}}
						{{if eq .Status "N"}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
						{{else}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
						{{end}}
						{{end}}</td>
				</tr>
				<tr>
					<td>Ethnicity</td>
					<td>{{.Ethnicity}}</td>
				</tr>
				<tr>
					<td>EAL</td>
					<td>{{if .EAL}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
						{{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
						{{end}}</td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2">
		<img src="/images/photos/{{.UPN}}.png" alt="No photo found" style="width: 180px; ">
	</div>
	<div class="col-sm-2"></div>
</div>

<div class="row" style="min-height:700px;">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#ks2" data-toggle="tab" aria-expanded="true">KS2</a></li>
			<li class=""><a href="#sen" data-toggle="tab" aria-expanded="false">SEN</a></li>
			<li class="disabled"><a href="#attendance" data-toggle="tab" aria-expanded="false">Attendance</a></li>
			<li class=""><a href="#results" data-toggle="tab" aria-expanded="false">Latest Assessments</a></li>
			{{ if eq .Year 10 11 }}
			<li class="disabled"><a href="#headlines" data-toggle="tab" aria-expaanded="false">Headlines</a></li>
			<li class=""><a href="#progress8" data-toggle="tab" aria-expaanded="false">Progress 8</a></li>
			{{ end }}
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">Subjects <span class="caret"></span></a>
				<ul class="dropdown-menu">
				  <!--
					<li class=""><a href="#Mathematics" data-toggle="tab" aria-expanded="false">Mathematics</a></li>
					<li class=""><a href="#English" data-toggle="tab" aria-expanded="false">English</a></li>
					-->
				</ul>
			</li>
		</ul>

		<br>

		<div id="myTabContent" class="tab-content">
			<div class="tab-pane fade active in" id="ks2"> 
				<table class="table table-hover">
					<tbody>
						{{with .KS2}}
						<tr>
							<td>Average Point Score</td>
							<td>{{.APS}}</td>
						</tr>
						<tr>
							<td>Band</td>
							<td>{{.Band}}</td>
						</td>
						<tr>
							<td>Mathematics</td>
							<td>{{.Ma}}</td>
						</tr>
						<tr>
							<td>English</td>
							<td>{{.En}}</td>
						</tr>
						<tr>
							<td>Reading</td>
							<td>{{.Re}}</td>
						</tr>
						<tr>
							<td>Writing</td>
							<td>{{.Wr}}</td>
						</tr>
						<tr>
							<td>GPS</td>
							<td>{{.GPS}}</td>
						<tr>
						{{end}}
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="sen">
				<table class="table table-hover">
					<tbody>
						{{ $upn := .UPN }}
						{{with .SEN}}
						<tr>
							<td>Status</td>
							<td>{{.Status}}</td>
						</tr>
						<tr>
							<td>Needs</td>
							<td>{{.Need}}</td>
						</tr>
						<tr>
							<td>Information</td>
							<td>{{.Info}}</td>
						</tr>
						<tr>
							<td>Strategies</td>
							<td>{{.Strategies}}</td>
						</tr>
						<tr>
							<td>Access Arrangements</td>
							<td>{{.Access}}</td>
						</tr>
						<tr>
							<td>IEP</td>
							<td>{{if .IEP}}<a href="/static/files/iep/{{ $upn}}.pdf">Download <span class="glyphicon glyphicon-download" style="color: #009933;"></span></a>
								{{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
								{{end}}</td>
						</tr>
						{{end}}
					<tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="results">
				<table class="table table-hover sortable">
					<thead>
						<th>Subject</th>
						<th>Level</th>
						<th>Grade</th>
						<th>Effort</th>
						<th>Class</th>
						<th>Teacher</th>
					<tbody>
						{{range .Courses}}
						<tr>
							<td>{{.Subj}}</td>
							<td>{{.Lvl}}</td>
							<td>{{.Grd}}</td>
							<td>{{.Effort}}</td>
							<td>{{.Class}}</td>
							<td>{{.Teacher}}</td>
						</tr>
						{{end}}
					</tbody>
				</table>
			</div>
			{{ if eq .Year 10 11 }}
			<div class="tab-pane fade" id="headlines">
				Headlines!
			</div>
			<div class="tab-pane fade" id="progress8">
				{{ with .Basket }}
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Slot</th>
							<th>Subject</th>
							<th>Grade</th>
							<th>Points</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Mathematics</td>
							{{with (index .Slots 0)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>Mathematics</td>
							{{with (index .Slots 1)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>English</td>
							{{with (index .Slots 2)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>English</td>
							{{with (index .Slots 3)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>EBacc 1</td>
							{{with (index .Slots 4)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>EBacc 2</td>
							{{with (index .Slots 5)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>EBacc 3</td>
							{{with (index .Slots 6)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>Other 1</td>
							{{with (index .Slots 7)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>Other 2</td>
							{{with (index .Slots 8)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr>
							<td>Other 3</td>
							{{with (index .Slots 9)}}
							<td>{{.Subj}}</td>
							<td>{{.Grade}}</td>
							<td>{{.Points}}</td>
							{{end}}
						</tr>
						<tr class="warning">
							<td>Total</td>
							<td>{{.Entries}} Entries</td>
							<td></td>
							<td>{{.TotalPoints}}</td>
						</tr>
						{{ with .Progress8 $nat }}
						<tr class="warning">
						  <td>Expected Score</td>
							<td></td>
							<td></td>
							<td>{{printf "%2.1f" .Exp}}</td>
						</tr>
						<tr class="warning">
								<td>Progress 8 Score</td>
							<td></td>
							<td></td>
							<td>{{printf "%2.1f" .Pts}}</td>
						</tr>
						{{ end }}
					</tbody>
				</table>
				{{ end }}
			</div>
			{{end}}
			<div class="tab-pane fade" id="attendance">
				Attendance data - coming soon!
			</div>
			<div class="tab-pane fade" id="Mathematics">
				Mathematics
			</div>
			<div class="tab-pane fade" id="English">
				English
			</div>
		</div>
	</div>
	<div class="col-sm-1"></div>
</div>
{{ end }}
			

