{{ define "TickCross" }}
{{if .}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
{{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
{{end}}
{{ end }}

