<h3>English and Maths</h3>
<br>

<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
	<h4>Headlines</h4>

	<table class="table table-hover">
	  <thead>
		<th>&nbsp;</th>
		{{ range .Names }}
		  <th style="text-align:center;">{{ . }}</th>
		{{ end }}
	  </thead>
	  <tbody>
		<tr>
		  <td>Students</td>
		  {{ range .Groups }}
			<td style="text-align:center;">{{ len .Students }}</td>
		  {{ end }}
		</tr>
		<tr>
		  <td>Percentage</td>
		  {{ range .Pcts }}
			<td style="text-align:center;">{{ Percent . 1 }}</td>
		  {{ end }}
		</tr>
	  </tbody>
	</table>

	<br>

	<h4>Students</h4>

	<ul class="nav nav-tabs">
	  {{ range $n, $name := .Names }}
		<li {{if eq $n 0}}class="active"{{end}}><a href="#{{ $n }}" data-toggle="tab" aria-expanded="{{if eq $n 0}}true{{else}}false{{end}}">{{ $name }}</a></li>
	  {{ end }}
	</ul>

	{{ $names := .Names }}
	{{ $q := .Query }}
	<div id="EMGroupPanes" class="tab-content">
	  {{ range $n, $g := .Groups }}
		{{ if eq $n 0 }}
		  <div class="tab-pane fade active in" id="{{ $n }}">
		  {{ else }}
			<div class="tab-pane fade" id="{{ $n }}">
			{{ end }}
			<br>
			<table class="table table-condensed table-striped table-hover sortable">
			  <thead>
				<th>Name</th>
				<th style="text-align:center;">KS2</th>
				<th style="text-align:center;">Language</th>
				<th style="text-align:center;">Literature</th>
				<th style="text-align:center;">Maths</th>
				<th style="text-align:center;">Progress 8</th>
				<th style="text-align:center;">Attendance</th>
			  </thead>
			  <tbody>
				{{ range $g.Students }}
				  <tr>
					<td><a href="/students/{{.UPN}}/?{{$q}}">{{.Name}}</a></td>
					<td style="text-align:center;">{{ .KS2.Av }}</td>
					<td style="text-align:center;">{{ .SubjectGrade "English" }}</td>
					<td style="text-align:center;">{{ .SubjectGrade "English Literature" }}</td>
					<td style="text-align:center;">{{ .SubjectGrade "Mathematics" }}</td>
					<td style="text-align:center;">{{ template "StudentProgress8" .Basket.Overall.Progress8 }}</td>
					<td style="text-align:center;">{{ template "StudentAttendance" .Attendance.Latest }}</td>
				  </tr>
				{{ end }}
			  </tbody>
			</table>
			</div>
		  {{ end }}
		  </div>

	</div>
	<div class="col-sm-1"></div>
  </div>



