<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Venerable Bede - Data Dashboard</title>

	<!-- Scripts -->
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/custom.js"></script>
	<script src="/static/js/sorttable.js"></script>

	<!-- Bootstrap -->
	<link href="/static/css/bootstrap-spacelab.min.css" rel="stylesheet">

	<!-- CSS Overrides -->
	<link href="/static/css/custom.css" rel="stylesheet">

  </head>
  <body>

	<nav class="navbar navbar-default">
	  <div class="container">
		<div class="navbar-header">
		  <a class="navbar-brand" href="/index/?{{.Query}}">{{.School}}</a>
		</div>

		<form class="navbar-form navbar-right form-horizontal" action="/search/" role="search">
		  {{with .F}}
		  <input type="text" name="natyear" value="{{.NatYear}}" style="display: none;">
		  <input type="text" name="date" value="{{.Date}}" style="display: none;">
		  <input type="text" name="resultset" value="{{.Resultset}}" style="display: none;">
		  {{end}}
		  <div class="form-group">
			<input type="text" name="name" class="form-control input-sm" style="position: relative; top: 3px" placeholder="Search students">
		  </div>
		  <input type="Submit" style="position: absolute; top: -1000px">
		</form>

		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Departments <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
			  <li><a href="/subjects/?{{.Query}}">Summary List</a></li>
			  <li class="divider"></li>
			  <li><a href="/progressgrid/?{{.Query}}">Progress Grid</a></li>
			  <li><a href="/subjectgroups/?{{.Query}}">Group Comparisons</a></li>
			</ul>
		  </li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
		  <li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Whole School <span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
			  <li class="disabled"><a href="/summary/?{{.Query}}">Summary</a></li>
			  <li class="divider"></li>
			  <li><a href="/progress8/?{{.Query}}">Progress 8</a></li>
			  <li><a href="/basics/?{{.Query}}">English and Maths</a></li>
			  <li class="disabled"><a href="/ebacc/?{{.Query}}">English Baccalaureate</a></li>
			  <li><a href="/progress8groups/?{{.Query}}">Progress 8 Groups</a></li>
			  <li class="divider"></li>
			  <li><a href="/attendancegroups/?{{.Query}}">Attendance Summary</a></li>
			  <li><a href="/attendance/?{{.Query}}">Attendance Explorer</a></li>
			  <li class="divider"></li> 
			  <li><a href="/effort/?{{.Query}}">Effort</a></li>
			</ul>
		  </li>
		</ul>
	  </div>
	</nav>

	<div class="container">
