{{ define "P8Block" }}
  <td style="text-align:center;"
	data-container="body"
	data-toggle="popover"
	data-placement="right"
	data-html="true"
	data-trigger="hover"
	data-content="{{ range .Subjects }} {{.}}<br> {{ end }}">
	{{printf "%+.2f" .Progress8 }}
  </td>
{{ end }}

<div class="row">
  <div class="col-sm-10">
	<h3>Progress 8</h3>
  </div>
  <div class="col-sm-2">
	<a href="/export/headlines/?{{ .Query }}"><h5><span class="glyphicon glyphicon-download"> Download</span></h5></a>
  </div>
</div>

<br>

<div width="100%" id="chart"></div>

<br>


<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

	{{ with .Group.Progress8 }}
	<table class="table">
	  <thead>
		<th width="25%">&nbsp;</th>
		<th width="15%" style="text-align:center;">English</th>
		<th width="15%" style="text-align:center;">Maths</th>
		<th width="15%" style="text-align:center;">EBacc</th>
		<th width="15%" style="text-align:center;">Other</th>
		<th width="15%" style="text-align:center;">Overall</th>
	  </thead>
	  <tbody>
		<tr>
		  <td>Attainment 8</td>
		  {{ range .Attainment }}
		  <td style="text-align:center;">{{printf "%.2f" . }}</td>
		  {{ end }}
		</tr>
		<tr>
		  <td>Points per Slot</td>
		  {{ range .AttainmentPerSlot }}
		  <td style="text-align:center;">{{printf "%.2f" . }}</td>
		  {{ end }}
		</tr>
		<tr>
		  <td>Entries</td>
		  {{ range .Entries }}
		  <td style="text-align:center;">{{printf "%.2f" . }}</td>
		  {{ end }}
		</tr>
		<tr>
		  <td>Progress 8</td>
		  {{ range .Progress }}
		  <td style="text-align:center;">{{printf "%+.2f" . }}</td>
		  {{ end }}
		</tr>
	  </tbody>
	</table>
	{{ end }}

	<br>

	<table class="table table-condensed table-striped table-hover sortable">
	  <thead>
		<th>Name</th>
		<th style="text-align:center;">KS2</th>
		<th style="text-align:center;">PP</th>
		<th style="text-align:center;">Entries</th>
		<th style="text-align:center;">Attainment 8</th>
		<th style="text-align:center;">English</th>
		<th style="text-align:center;">Maths</th>
		<th style="text-align:center;">EBacc</th>
		<th style="text-align:center;">Other</th>
		<th style="text-align:center;">Overall</th>
		<th style="text-align:center;">Attendance</th>
	  </thead>
	  <tbody>
		{{ $q := .Query }}
		{{ range .Group.Students }}
		<tr>
		  <td><a href="/students/{{ .UPN }}/?{{ $q }}">{{ .Name }}</a></td>
		  <td style="text-align:center;">{{ .KS2.Av }}</td>
		  <td style="text-align:center;">
			{{if .PP}}<span class="glyphicon glyphicon-ok" style="color: #009933;"></span>
			{{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
			{{end}}
		  </td>

		  {{ with .Basket }}
		  {{ with .Overall }}
		  <td style="text-align:center;">{{printf "%v"  .Entries }}</td>
		  <td style="text-align:center;">{{printf "%.1f"  .Attainment }}</td>
		  {{ end }}
		  {{ template "P8Block" .English }}
		  {{ template "P8Block" .Maths }}
		  {{ template "P8Block" .EBacc }}
		  {{ template "P8Block" .Other }}
		  {{ template "P8Block" .Overall }}
		  {{ end }}

		  <td style="text-align:center;">{{printf "%.1f"  .Attendance.Latest }}</td>
		</tr>
		{{ end }}
	  </tbody>
	</table>
  </div>
  <div class="col-sm-1"></div>
</div>


<script>
$(function () {
  $('[data-toggle="popover"]').popover()
})
</script>

<script src="/static/js/plotly.min.js"></script>

<script>
var national = {
  x: [{{ range .NatLine }}{{ .X }}, {{ end }}],
  y: [{{ range .NatLine }}{{ .Y }}, {{ end }}],
  mode: 'lines',
  name: 'National',
  line: {shape: 'spline'},
  type: 'scatter',
  hoverinfo: 'none',
};

{{ with index .PupilData 0 }}
var male_pp = {
  x: [{{ range . }}{{ .X }}, {{ end }}],
  y: [{{ range . }}{{ .Y }}, {{ end }}],
  mode: 'markers',
  type: 'scatter',
  name: 'Male: Disadvantaged',
  text: [{{ range . }}"{{.Name}}<hr>{{ range .P8.Subjects }}{{.}}<br>{{ end }} ", {{ end }}],
  marker: { size: 8 },
  hoverinfo: 'text',
};
{{ end }}

{{ with index .PupilData 1 }}
var male_non = {
  x: [{{ range . }}{{ .X }}, {{ end }}],
  y: [{{ range . }}{{ .Y }}, {{ end }}],
  mode: 'markers',
  type: 'scatter',
  name: 'Male: Non-Disadvantaged',
  text: [{{ range . }}"{{.Name}}<hr>{{ range .P8.Subjects }}{{.}}<br>{{ end }} ", {{ end }}],
  marker: { size: 8 },
  hoverinfo: 'text',
};
{{ end }}

{{ with index .PupilData 2 }}
var female_pp = {
  x: [{{ range . }}{{ .X }}, {{ end }}],
  y: [{{ range . }}{{ .Y }}, {{ end }}],
  mode: 'markers',
  type: 'scatter',
  name: 'Female: Disadvantaged',
  text: [{{ range . }}"{{.Name}}<hr>{{ range .P8.Subjects }}{{.}}<br>{{ end }} ", {{ end }}],
  marker: { size: 8 },
  hoverinfo: 'text',
};
{{ end }}

{{ with index .PupilData 3 }}
var female_non = {
  x: [{{ range . }}{{ .X }}, {{ end }}],
  y: [{{ range . }}{{ .Y }}, {{ end }}],
  mode: 'markers',
  type: 'scatter',
  name: 'Female: Non-Disadvantaged',
  text: [{{ range . }}"{{.Name}}<hr>{{ range .P8.Subjects }}{{.}}<br>{{ end }} ", {{ end }}],
  marker: { size: 8 },
  hoverinfo: 'text',
};
{{ end }}

var data = [ national, male_pp, male_non, female_pp , female_non, ];

var layout = {
  hovermode: 'closest',
  scene: {
	aspectratio: {
	  x: 3,
	  y: 2,
	},
  },
  xaxis: {
	title: "KS2 Average Point Score",
	range: [ 0.75, 6.25 ]
  },
  yaxis: {
	title: "Attainment 8 Score",
	range: [0, 80]
  },
  legend: {
	x: 0.05,
	y: 1,
	xanchor: "left",
	yanchor: "top",
  },
};

Plotly.newPlot('chart', data, layout);
</script>

