<h2>{{.Heading}}</h2>

<ul class="breadcrumb">
  <li><a href="{{.BasePath}}/?{{.Query}}">Subjects</a></li>
  <li class="active">{{.Subject}}</li>
</ul>

<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
	{{ $p := .Path }}
	{{ $q := .Query }}
	<ul class="list-group">
	  {{ range .Levels }}
	  <a class="list-group-item" href="{{ $p }}/{{.SubjID}}/?{{ $q }}">{{.Level}}</a>
	  {{ end }}
	</ul>
  </div>
  <div class="col-sm-3"></div>
</div>
