<h2>{{.Heading}}</h2>

<ul class="breadcrumb">
  <li class="active">Subjects</li>
</ul>

<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6">
				{{ $p := .Path }}
				{{ $q := .Query }}
				<ul class="list-group">
						{{ range .Subjects }}
						<a class="list-group-item" href="{{ $p }}/{{.}}/?{{ $q }}">{{.}}</a>
						{{ end }}
				</ul>
		</div>
		<div class="col-sm-3"></div>
</div>
