{{ define "StudentKS2Pane" }}
  <br>
  <table class="table table-hover">
	<tbody>
	  <tr>
		<td>Average Point Score</td>
		<td>{{.APS}}</td>
	  </tr>
	  <tr>
		<td>Band</td>
		<td>{{.Band}}</td>
	  </tr>
	  <tr>
		<td>Mathematics</td>
		<td>{{.Ma}}</td>
	  </tr>
	  <tr>
		<td>English</td>
		<td>{{.En}}</td>
	  </tr>
	  <tr>
		<td>Reading</td>
		<td>{{.Re}}</td>
	  </tr>
	  <tr>
		<td>Writing</td>
		<td>{{.Wr}}</td>
	  </tr>
	  <tr>
		<td>GPS</td>
		<td>{{.GPS}}</td>
	  </tr>
	</tbody>
  </table>
{{ end }}

{{ define "StudentSENPane" }}
  <br>
  <table class="table table-condensed table-hover">
	<tbody>
	  {{ $upn := .UPN }}
	  {{with .SEN}}
		<tr>
		  <td>Status</td>
		  <td>{{.Status}}</td>
		</tr>
		<tr>
		  <td>Needs</td>
		  <td>{{.Need}}</td>
		</tr>
		<tr>
		  <td>IEP</td>
		  <td>{{if .IEP}}<a href="/static/files/iep/{{ $upn}}.pdf">Download <span class="glyphicon glyphicon-download" style="color: #009933;"></span></a>
		  {{else}}<span class="glyphicon glyphicon-remove" style="color: #cc0000;"></span>
		  {{end}}</td>
		</tr>
	  {{end}}
	  <tbody>
  </table>
{{ end }}

{{ define "StudentResultsPane" }}
  <table class="table table-condensed table-hover sortable">
	<thead>
	  <th>Subject</th>
	  <th style="text-align:center;">Level</th>
	  <th style="text-align:center;">Grade</th>
	  <th style="text-align:center;">Effort</th>
	  <th style="text-align:center;">Class</th>
	  <th style="text-align:center;">Teacher</th>
	</thead>
	<tbody>
	  {{range .Results}}
		<tr>
		  <td>{{.Subj}}</td>
		  <td style="text-align:center;">{{.Lvl}}</td>
		  <td style="text-align:center;">{{.Grd}}</td>
		  <td style="text-align:center;">{{.Effort}}</td>
		  <td style="text-align:center;">{{.Class}}</td>
		  <td style="text-align:center;">{{.Teacher}}</td>
		</tr>
	  {{end}}
	</tbody>
  </table>
{{ end }}

{{ define "StudentHeadlinesPane" }}
  <br>
  <h4>Headline Figures</h4><br>
  <table class="table table-condensed table-hover">
	<tbody>
	  <tr>
		<td>Basics</td>
		<td>{{ template "TickCross" .Basics }}</td>
	  </tr>
	  {{ with .Basket }}
		<tr>
		  <td>Attainment 8</td>
		  <td>{{ printf "%.1f" .Overall.Attainment }}</td>
		</tr>
		<tr>
		  <td>Progress 8</td>
		  <td>{{ printf "%+.1f" .Overall.Progress8 }}</td>
		</tr>
	</tbody>
  </table>

  <h4>Progress 8</h4><br>
  <table class="table table-condensed table-hover">
	<thead>
	  <th>Basket</th>
	  <th style="text-align:center;">Entries</th>
	  <th style="text-align:center;">Attainment Per Slot</th>
	  <th style="text-align:center;">Progress 8</th>
	</thead>
	<tbody>
	  <tr>
		<td>Mathematics</td>
		<td style="text-align:center;">{{ .English.Entries }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .English.AttainmentPerSlot }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .English.Progress8 }}</td>
	  </tr>
	  <tr>
		<td>English</td>
		<td style="text-align:center;">{{ .Maths.Entries }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .Maths.AttainmentPerSlot }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .Maths.Progress8 }}</td>
	  </tr>
	  <tr>
		<td>EBacc</td>
		<td style="text-align:center;">{{ .EBacc.Entries }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .EBacc.AttainmentPerSlot }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .EBacc.Progress8 }}</td>
	  </tr>
	  <tr>
		<td>Other</td>
		<td style="text-align:center;">{{ .Other.Entries }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .Other.AttainmentPerSlot }}</td>
		<td style="text-align:center;">{{ printf "%.1f" .Other.Progress8 }}</td>
	  </tr>
	{{ end }}
	</tbody>
  </table>

  <h4>EBacc</h4><br>
  <table class="table table-condensed table-hover">
	<thead>
	  <th>Area</th>
	  <th style="text-align:center;">Entered</th>
	  <th style="text-align:center;">Achieved</th>
	</thead>
	<tbody>

	  {{ with .EBaccArea "E" }}
		<tr>
		  <td>English</td>
		  <td style="text-align:center;">{{ template "TickCross" .Entered }}</td>
		  <td style="text-align:center;">{{ template "TickCross" .Achieved }}</td>
		</tr>
	  {{ end }}

	  {{ with .EBaccArea "M" }}
		<tr>
		  <td>Mathematics</td>
		  <td style="text-align:center;">{{ template "TickCross" .Entered }}</td>
		  <td style="text-align:center;">{{ template "TickCross" .Achieved }}</td>
		</tr>
	  {{ end }}
	  {{ with .EBaccArea "S" }}
		<tr>
		  <td>Science</td>
		  <td style="text-align:center;">{{ template "TickCross" .Entered }}</td>
		  <td style="text-align:center;">{{ template "TickCross" .Achieved }}</td>
		</tr>
	  {{ end }}
	  {{ with .EBaccArea "H" }}
		<tr>
		  <td>Humanities</td>
		  <td style="text-align:center;">{{ template "TickCross" .Entered }}</td>
		  <td style="text-align:center;">{{ template "TickCross" .Achieved }}</td>
		</tr>
	  {{ end }}
	  {{ with .EBaccArea "L" }}
		<tr>
		  <td>Languages</td>
		  <td style="text-align:center;">{{ template "TickCross" .Entered }}</td>
		  <td style="text-align:center;">{{ template "TickCross" .Achieved }}</td>
		</tr>
	  {{ end }}
	</tbody>
  </table>
{{ end }}

{{ define "StudentProgress8Pane" }}
  <table class="table table-condensed table-striped table-hover">
	<thead>
	  <th>Slot</th>
	  <th>Subject</th>
	  <th>Grade</th>
	  <th>Points</th>
	</thead>
	<tbody>
	  <tr>
		<td>English</td>
		{{with (index .Slots 0)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>English</td>
		{{with (index .Slots 1)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>Mathematics</td>
		{{with (index .Slots 2)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>Mathematics</td>
		{{with (index .Slots 3)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>EBacc 1</td>
		{{with (index .Slots 4)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>EBacc 2</td>
		{{with (index .Slots 5)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>EBacc 3</td>
		{{with (index .Slots 6)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>Other 1</td>
		{{with (index .Slots 7)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>Other 2</td>
		{{with (index .Slots 8)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	  <tr>
		<td>Other 3</td>
		{{with (index .Slots 9)}}
		  <td>{{.Subject}}</td>
		  <td>{{.Grade}}</td>
		  <td>{{.Points}}</td>
		{{end}}
	  </tr>
	</tbody>
	<tfoot>
	  {{ with .Overall }}
		<tr>
		  <th>Total</th>
		  <th>{{ .Entries }} Entries</th>
		  <th></th>
		  <th>{{ printf "%.1f" .Attainment }}</th>
		</tr>
		<tr>
		  <th>Expected Score</th>
		  <th></th>
		  <th></th>
		  <th>{{ printf "%.1f" .Expected }}</th>
		</tr>
		<tr>
		  <th>Progress 8 Score</th>
		  <th></th>
		  <th></th>
		  <th>{{ printf "%+.1f" .Progress8 }}</th>
		</tr>
	  {{ end }}
	</tfoot>
  </table>
{{ end }}

{{ define "StudentAttendancePane" }}
  <h4>Attendance data from 1st September.</h4>
  <table class="table">
	<thead>
	  <th style='text-align:center;vertical-align:middle'>Possible</th>
	  <th style='text-align:center;vertical-align:middle'>Absences</th>
	  <th style='text-align:center;vertical-align:middle'>Unauthorised</th>
	  <th style='text-align:center;vertical-align:middle'>% Attendance</th>
	</thead>
	<tbody>
	  <tr>
		<td style='text-align:center;vertical-align:middle'>{{.Possible}}</td>
		<td style='text-align:center;vertical-align:middle'>{{.Absences}}</td>
		<td style='text-align:center;vertical-align:middle'>{{.Unauthorised}}</td>
		<td style='text-align:center;vertical-align:middle'>{{Percent .Latest 1}}</td>
	  </tr>
	</tbody>
  </table>

  <br>
  <h4>Absences per Session</h4>
  <table class="table">
	<thead>
	  <th>Session</th>
	  <th style='text-align:center;vertical-align:middle'>Monday</th>
	  <th style='text-align:center;vertical-align:middle'>Tuesday</th>
	  <th style='text-align:center;vertical-align:middle'>Wednesday</th>
	  <th style='text-align:center;vertical-align:middle'>Thursday</th>
	  <th style='text-align:center;vertical-align:middle'>Friday</th>
	</thead>
	<tbody>
	  <tr>
		<td>Morning</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 0}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 2}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 4}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 6}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 8}}</td>
	  </tr>
	  <tr>
		<td>Afternoon</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 1}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 3}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 5}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 7}}</td>
		<td style='text-align:center;vertical-align:middle'>{{index .Sessions 9}}</td>
	  </tr>
	</tbody>
  </table>
{{ end }}

{{/* Start of Template Proper */}}
{{ with .Student }}
  <h2>{{ .Forename }} {{ .Surname }}</h2>
  <br>

  <div class="row">
	<div class="col-sm-1"></div>
	<div class="col-sm-5">
	  <table class="table table-hover">
		<tbody>
		  <tr>
			<td>Form class</td>
			<td>{{.Year}} {{.Form}}</td>
		  </tr>
		  <tr>
			<td>Gender</td>
			<td>{{.Gender}}</td>
		  </tr>
		  <tr>
			<td>KS2 Average</td>
			<td>{{with .KS2}}{{.Av}}{{end}}</td>
		  </tr>
		  <tr>
			<td>Pupil Premium</td>
			<td>{{ template "TickCross" .PP }}</td>
		  </tr>
		  <tr>
			<td>SEN</td>
			<td>{{ template "TickCross" (ne .SEN.Status "N") }}</td>
		  </tr>
		  <tr>
			<td>Ethnicity</td>
			<td>{{.Ethnicity}}</td>
		  </tr>
		  <tr>
			<td>EAL</td>
			<td>{{ template "TickCross" .EAL }}</td>
		  </tr>
		</tbody>
	  </table>
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-2">
	  <img src="/images/photos/{{.UPN}}.png" alt="No photo found" style="width: 180px; ">
	</div>
	<div class="col-sm-2"></div>
  </div>

  <br>
  <div class="row" style="min-height:700px;">
	<div class="col-sm-1"></div>
	<div class="col-sm-10">
	  <ul class="nav nav-tabs">
		<li class="active"><a href="#ks2" data-toggle="tab" aria-expanded="true">KS2</a></li>
		<li><a href="#sen" data-toggle="tab" aria-expanded="false">SEN</a></li>
		<li><a href="#attendance" data-toggle="tab" aria-expanded="false">Attendance</a></li>
		<li><a href="#results" data-toggle="tab" aria-expanded="false">Latest Assessments</a></li>
		{{ if eq .Year 10 11 }}
		  <li><a href="#headlines" data-toggle="tab" aria-expaanded="false">Headlines</a></li>
		  <li><a href="#progress8" data-toggle="tab" aria-expaanded="false">Progress 8</a></li>
		{{ end }}
	  </ul>

	  <br>

	  <div id="myTabContent" class="tab-content">
		<div class="tab-pane fade active in" id="ks2"> 
		  {{ template "StudentKS2Pane" .KS2 }}
		</div>
		<div class="tab-pane fade" id="sen">
		  {{ template "StudentSENPane" . }}
		</div>
		<div class="tab-pane fade" id="results">
		  {{ template "StudentResultsPane" . }}
		</div>

		{{ if eq .Year 10 11 }}
		  <div class="tab-pane fade" id="headlines">
			{{ template "StudentHeadlinesPane" . }}
		  </div>
		  <div class="tab-pane fade" id="progress8">
			{{ template "StudentProgress8Pane" .Basket }}
		  </div>
		{{ end }}

		<div class="tab-pane fade" id="attendance">
		  {{ template "StudentAttendancePane" .Attendance }}
		</div>
	  </div>
	</div>
	<div class="col-sm-1"></div>
  </div>
{{ end }}


