<h2>{{ .Subj.Subj }} Group Summary</h2>

<ul class="breadcrumb">
  <li><a href="/subjectgroups/?{{.Query}}">Subjects</a></li>
  <li><a href="/subjectgroups/{{.Subj.Subj}}/?{{.Query}}">{{.Subj.Subj}}</a></li>
  <li><a href="/subjectgroups/{{.Subj.Subj}}/{{.Subj.SubjID}}/?{{.Query}}">{{.Subj.Lvl}}</a></li>
  <li class="active">Year {{ .Year }}</li>
</ul>

<br>

{{ $s := .Subj }}
{{ $q := .Query }}
{{ $y := .Year }}

<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
	<h4>Pupil Groups</h4>
	<br>

	<table class="table table-condensed table-striped table-hover sortable">
	  <thead>
		<th>Group</th>
		<th style="text-align:center;">Cohort</th>
		<th style="text-align:center;">% PP</th>
		<th style="text-align:center;">KS2 APS</th>
		<th style="text-align:center;">Current APS</th>
		<th style="text-align:center;">Average Grade</th>
		<th style="text-align:center;">Value Added</th>
	  </thead>
	  <tbody>
		{{ range .SubGroups }}
		  {{ $va := (.Group.SubjectVA $s.Subj).VA }}
		  {{ if gt $va 0.33 }}<tr class="success">
		  {{ else if lt $va -0.33 }}<tr class="danger">
		  {{ else }}<tr class="warning">
		  {{ end }}
			<td><a href="/progressgrid/{{ $s.Subj }}/{{ $s.SubjID }}/All Year {{ $y }}/?{{ $q }}{{ .Query }}">{{ .Name }}</a></td>
			<td style="text-align:center;">{{ .Group.Cohort }}</td>
			<td style="text-align:center;">{{ Percent .Group.PP 1 }}</td>
			<td style="text-align:center;">{{ printf "%.1f" .Group.KS2APS }}</td>
			{{ $pts := (.Group.SubjectPoints $s.Subj) }}
			<td style="text-align:center;">{{ printf "%.1f" $pts }}</td>
			<td style="text-align:center;">{{ $s.Level.GradeEquivalent $pts }}</td>
			<td style="text-align:center;">{{ printf "%+.2f" $va }}</td>
		  </tr>
		{{ end }}
	  </body>
	</table>

	<br>
	<h4>Group Matrix</h4>
	<br>

	{{ with .Matrix }}
	  <table class="table table-condensed table-hover" style="table-layout:fixed;">
		<thead>
		  <th style="width:20%;"></th>
		  {{ range .Headers }}
			<th style="text-align:center;">{{ . }}</th>
		  {{ end }}
		</thead>
		<tbody>
		  {{ $headers := .Headers }}
		  {{ range $i, $g := .Groups }}
			<tr>
			  <th>{{ index $headers $i }}</th>
			  {{ range $g }}
				{{ $va := (.Group.SubjectVA $s.Subj).VA }}
				{{ if eq (len .Group.Students) 0 }}
				  <td style="text-align:center;"> - </td>
				{{ else if gt $va 0.33 }}
				  <td style="text-align:center;" class="success"><a href="/progressgrid/{{ $s.Subj }}/{{ $s.SubjID }}/All Year {{ $y }}/?{{ $q }}{{ .Query }}">{{ printf "%+.2f" $va }}</a></td>
				{{ else if lt $va -0.33 }}
				  <td style="text-align:center;" class="danger"><a href="/progressgrid/{{ $s.Subj }}/{{ $s.SubjID }}/All Year {{ $y }}/?{{ $q }}{{ .Query }}">{{ printf "%+.2f" $va }}</a></td>
				{{ else }}
				  <td style="text-align:center;" class="warning"><a href="/progressgrid/{{ $s.Subj }}/{{ $s.SubjID }}/All Year {{ $y }}/?{{ $q }}{{ .Query }}">{{ printf "%+.2f" $va }}</a></td>
				{{ end }}
				</td>
			  {{ end }}
			</tr>
		  {{ end }}
		</tbody>
	  </table>
	{{ end }}

	<br>
	<h4>Classes</h4>
	<br>

	<table class="table table-condensed table-striped table-hover sortable">
	  <thead>
		<th>Group</th>
		<th style="text-align:center;">Cohort</th>
		<th style="text-align:center;">% PP</th>
		<th style="text-align:center;">KS2 APS</th>
		<th style="text-align:center;">Current APS</th>
		<th style="text-align:center;">Average Grade</th>
		<th style="text-align:center;">Value Added</th>
	  </thead>
	  <tbody>
		{{ range .Classes }}
		  {{ $va := (.Group.SubjectVA $s.Subj).VA }}
		  {{ if gt $va 0.33 }}<tr class="success">
		  {{ else if lt $va -0.33 }}<tr class="danger">
		  {{ else }}<tr class="warning">
		  {{ end }}
			<td><a href="/progressgrid/{{ $s.Subj }}/{{ $s.SubjID }}/{{ .Name }}/?{{ $q }}">{{ .Name }}</a></td>
			<td style="text-align:center;">{{ .Group.Cohort }}</td>
			<td style="text-align:center;">{{ Percent .Group.PP 1 }}</td>
			<td style="text-align:center;">{{ printf "%.1f" .Group.KS2APS }}</td>
			{{ $pts := (.Group.SubjectPoints $s.Subj) }}
			<td style="text-align:center;">{{ printf "%.1f" $pts }}</td>
			<td style="text-align:center;">{{ $s.Level.GradeEquivalent $pts }}</td>
			<td style="text-align:center;">{{ printf "%+.2f" $va }}</td>
		  </tr>
		{{ end }}
	  </body>
	</table>

  </div>
  <div class="col-md-1"></div>
</div>
